$lightblack: #333333;
$checkBoxText: #182C40;
$redWarningBorder:#F5BCBC;
$redWarningText:#F64C4C;
$redWarningTextIn:#800404;
$yellowAlert:rgba(251, 217, 44, 0.16);
$orange:#F19932;
$blueButton:#2F80ED;
$blueButtonHover:#2974D9;
$blueFocus:rgba(47, 128, 237, 0.5);
$blueButtonActive:#236ACB;
$blueCheckboxBG:#3C8AFB;
$blueCheckboxHover:#F5F9FE;
$gray:#E9E9E9;
$grayHover:#DBDBDB;
$grayActive:#C4C4C4;
$grayBG:#F8F7FA;
$grayBGFocus:#FFFFFF;
$grayBGHover:#F1F5F9;
$underLine:rgba(0, 0, 0, 0.05);

@import "./styles/main/layout";
@import "./styles/blocks/head";
@import "./styles/blocks/form";
@import "./styles/blocks/buttons";
@import "./styles/blocks/checkbox";
@import "./styles/blocks/validation-error";
@import "./styles/blocks/alert";
@import "./styles/blocks/unicorn";